#searchbar
{
	width: 100%;
	height: 15%;
	background-color: #05386B;
	position: absolute;
	display: inline-block;
	left: 0;
	right: 0;
	top: 0;
}

#dropdown
{
	font-family: 'Sora', sans-serif;
	font-size: 250%;
	color: #EDF5E1;
	border: 4px solid black;
	background-color: #05386B;
	width: 35%;
	line-height: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#searchbox
{
	font-family: 'Sora', sans-serif;
	font-size: 250%;
	color: #EDF5E1;
	border: 4px solid black;
	background-color: #05386B;
	width: 65%;
	line-height: 100%;
	height: 100%;
	float: right;
	top: 0;
	display: flex;
	align-items: center;
}

#search
{
	padding-left: 5%;
}

#SUmap
{
	position: absolute;
	left: 55%;
	top: 20%;
}

#LandingMap
{
	height: 75%;
	width: 40%;
	position: absolute;
	left: 55%;
	top: 20%;
}

#textDescription
{
	width: 50%;
	margin-top: 10%;
	margin-left: 2%;
	float: left;
	text-align: center;	
	font-family: 'Open Sans', sans-serif;
}

#headerText
{
	font-size: 200%;
	border-bottom: 3px solid black;
	padding-bottom: 2%;
}

form
{
	float:right;
	display: flex;
	padding-left: 50px;
	margin-top: 5%;
}

input 
{
	width: 375px;
}

#submitSearch
{
	width: 50px;
	height: 50px;
	margin-left: 20px;
}

body
{
	background-image: linear-gradient(#379683, #8EE4AF);
}
