html
{
	scoll-behavior: smooth !important;
}

#menu
{
	width: 100%;
	height: 10%;
	top: 0;
	left: 0;
	position: absolute;
}

#LESLogo
{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.menuBox
{
	font-family: 'Sora', sans-serif;
        font-size: 250%;
        color: #EDF5E1;
        /* border-bottom: 4px solid black; */
        background-color: #05386B;
	height: 100%;
	float: left;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.menuBox:hover
{
	background-color: #1E4C7A;
}

#recycle
{
	width: 25%;
}

#search
{
	width: 25%;
}

#logo
{
	width: 10%;
	font-family: 'Sora', sans-serif;
        font-size: 250%;
        color: #EDF5E1;
        /* border-bottom: 4px solid black; */
	background-image: url("LESRecycling.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: background-image;
        background-color: #05386B;
        height: 100%;
        float: left;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;	
}

#logo:hover
{
	background-image: url("Home.png");
	background-size: 30%;
	background-color: #1E4C7A;
}

.menuImage
{	
	height: auto;
	padding-left: 5%;
}

#login
{
	max-width: 15%;
}

#contactinfo
{
	max-width: 20%;
}


#admin
{
	width: 20%;
}

#contact
{
	width: 20%;
}

#SUmap
{
	position: absolute;
	left: 55%;
	top: 20%;
}

#LandingMap
{
	height: 75%;
	width: 40%;
	position: absolute;
	left: 55%;
	top: 20%;
}

#textDescription
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 12%;
	text-align: center;	
	font-family: 'Open Sans', sans-serif;
}

#headerText
{
	font-size: 300%;
	border-bottom: 3px solid black;
	padding-bottom: 2%;
}

#searchbar
{
	margin-top: 50%;
	height: 10%;
	width: 75%;
       	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
	margin-bottom: 100%;
}

.roundedBar
{
	width: 80%;
	line-height: 50%;
	padding: 2%;
	border-radius: 50px;
	border: 5px #000000 solid;
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
	text-align: center;
}

.sub
{
	width: 6.5%;
	height: 100%;
	border-radius: 50px;
	border: 5px #000000 solid;
	margin-left: 5%;
	background-color: #FFFFFF;
}

#submitsearch
{
	background-image: url("Search.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.sub:hover
{
	background-color: #1E4C7A;
}

body
{
	background-image: linear-gradient(#379683, #8EE4AF); 
}

body::-webkit-scrollbar {
  display: none;
}

#logindiv
{
	margin-left: auto;
        margin-right: auto;
        width: 35%;
	height: 50%;
	border: 5px black solid;
        margin-top: 2%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	border-radius: 50px;
	background-color: #376089;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
}

#logheader
{
	
	margin-left: auto;
        margin-right: auto;
        width: 20%;
        margin-top: 9%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	font-size: 400%;
        border-bottom: 3px solid black;
        padding-bottom: 1%;
}

.logfield
{
	margin: 3%;
	width: 100%;
        line-height: 50%;
        padding: 2%;
        border-radius: 50px;
        border: 3px #000000 solid;
        font-family: 'Open Sans', sans-serif;
        font-size: 125%;
        text-align: left;
	padding-left: 6.5%;
}

#logsub
{
	background-color: #FFFFFF;
	margin: 2%;
        width: 35%;
        line-height: 85%;
        padding: 2%;
        border-radius: 50px;
        border: 3px #000000 solid;
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
        text-align: center;
}

#logsub:hover
{
	background-color: #808080;
}

#TESTVALUE
{
	margin-top: 100%;
	font-size: 30%;
}
